.payment-page-form-fields-container {
  flex-direction : column;
}

.payment-page-form-fields-container .field-group {
  display: flex;
  flex-direction : row;
  margin-bottom: 1em;
}

.payment-page-form-fields-container .field-group .payment-page-draggable-container {
  width : 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 0;
}

.payment-page-form-fields-container .field-group .payment-page-draggable-container .payment-page-draggable {
  font-size: 24px;
  cursor : pointer;
}

.payment-page-form-fields-container .field-group .information {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(2,1fr);
  grid-auto-flow : row;

  padding: 1em;
  border: 1px solid #64666a;
}

.payment-page-form-fields-container .field-group [data-setting-container] {
  display : block;
  width   : 100%;
  grid-column: span 2;
}

.payment-page-form-fields-container .field-group [data-setting-container] label > span {
  display : block;
  margin  : 0 0 5px 0;
}

.payment-page-form-fields-container .field-group [data-setting-container="size"],
.payment-page-form-fields-container .field-group [data-setting-container="size_mobile"] {
  grid-column: span 1;
}

.payment-page-form-fields-container .field-group .remove-field-container {
  grid-column: span 2;
}

.payment-page-form-fields-container .field-group .remove-field-container .remove-field {
  cursor:pointer;
}

