#fields-sorted-container {
  border: 1px solid #7d7e82;
  outline: 0;
  margin: 0;
  position: relative;
  vertical-align: middle;
  background-color: #34383c;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  min-height: 32px;
  width: 90.6%;
  padding-bottom: 0.5em;
}

#fields-sorted-container > div {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0 5px;
  background-color: #4c4f56;
  line-height: 1.5;
  font-size: 0.9em;
  border: none;
  color: #e0e1e3;
}

.field-group-sorted {
  flex-flow: column !important;
  align-items: baseline !important;
  margin-bottom: 1em;
}

.field-group-sorted > label {
  display: block !important;
  margin-bottom: 1em;
}
