@font-face {
  font-family: Graphik;
  src: url("../../fonts/graphik-regular.otf") format("opentype"); }

@font-face {
  font-family: Graphik;
  font-weight: 200;
  src: url("../../fonts/graphik-extra-light.otf") format("opentype"); }

@font-face {
  font-family: Graphik;
  font-weight: 300;
  src: url("../../fonts/graphik-light.otf") format("opentype"); }

@font-face {
  font-family: Graphik;
  font-weight: 500;
  src: url("../../fonts/graphik-medium.otf") format("opentype"); }

@font-face {
  font-family: Graphik;
  font-weight: 600;
  src: url("../../fonts/graphik-semi-bold.otf") format("opentype"); }

[data-payment-page-component="admin-form"] {
  --payment-page-font-family: Graphik, serif;
  font-family: Graphik, serif;
  display: flex;
  flex-direction: column; }
  [data-payment-page-component="admin-form"] > h2 {
    font-family: var(--payment-page-font-family);
    font-size: var(--payment-page-text-title-font-size);
    font-style: var(--payment-page-text-title-font-style);
    font-weight: var(--payment-page-text-title-font-weight);
    line-height: var(--payment-page-text-title-line-height);
    color: var(--payment-page-text-title-color);
    text-transform: none;
    text-decoration: none;
    margin: 0 0 var(--payment-page-spacing-type-secondary) 0; }
    [data-payment-page-component="admin-form"] > h2 > span[data-payment-page-mode="test"] {
      color: #f1c40f; }
    [data-payment-page-component="admin-form"] > h2 > span[data-payment-page-mode="live"] {
      color: #2ecc71; }
  [data-payment-page-component="admin-form"] > [data-payment-page-component-admin-form-section="description"] {
    font-family: var(--payment-page-font-family);
    font-size: var(--payment-page-text-medium-font-size);
    font-style: var(--payment-page-text-medium-font-style);
    font-weight: var(--payment-page-text-medium-font-weight);
    line-height: var(--payment-page-text-medium-line-height);
    color: var(--payment-page-text-medium-color);
    margin: 0 0 var(--payment-page-spacing-type-secondary) 0; }
  [data-payment-page-component="admin-form"] > form {
    display: flex;
    flex-direction: column; }
    [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] {
      margin: 0 0 var(--payment-page-spacing-type-tertiary) 0; }
      [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] > label {
        --payment-page-text-standard-font-weight: bold;
        padding: 0;
        display: block;
        margin: 0 0 var(--payment-page-spacing-type-block-element) 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: var(--payment-page-font-family);
        font-size: var(--payment-page-text-standard-font-size);
        font-style: var(--payment-page-text-standard-font-style);
        font-weight: var(--payment-page-text-standard-font-weight);
        line-height: var(--payment-page-text-standard-line-height);
        color: var(--payment-page-text-standard-color); }
        [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] > label > [data-payment-page-component-admin-form-section="field_required"] {
          color: var(--payment-page-status-danger-color); }
      [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] > input[type="text"],
      [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] > select {
        max-width: 100%;
        width: 100%;
        border: 1px solid var(--payment-page-layout-secondary-border-color);
        color: var(--payment-page-text-color-primary);
        padding: var(--payment-page-spacing-type-block-element);
        background: transparent;
        margin: 0;
        font-family: var(--payment-page-font-family);
        font-size: var(--payment-page-text-standard-font-size);
        font-style: var(--payment-page-text-standard-font-style);
        font-weight: var(--payment-page-text-standard-font-weight);
        line-height: var(--payment-page-text-standard-line-height);
        color: var(--payment-page-text-standard-color);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: var(--payment-page-layout-border-radius);
        border-radius: var(--payment-page-layout-border-radius); }
        [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] > input[type="text"]:focus, [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] > input[type="text"]:hover,
        [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] > select:focus,
        [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] > select:hover {
          outline: none;
          border-color: var(--payment-page-text-color-primary); }
        [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] > input[type="text"][disabled="disabled"],
        [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] > select[disabled="disabled"] {
          cursor: not-allowed;
          background: var(--payment-page-layout-secondary-background-color); }
      [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] > [data-payment-page-component-admin-form-section="description"] {
        font-family: var(--payment-page-font-family);
        font-size: var(--payment-page-text-standard-font-size);
        font-style: var(--payment-page-text-standard-font-style);
        font-weight: var(--payment-page-text-standard-font-weight);
        line-height: var(--payment-page-text-standard-line-height);
        color: var(--payment-page-text-standard-color); }
        [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] > [data-payment-page-component-admin-form-section="description"] > p {
          font-family: var(--payment-page-font-family);
          font-size: var(--payment-page-text-standard-font-size);
          font-style: var(--payment-page-text-standard-font-style);
          font-weight: var(--payment-page-text-standard-font-weight);
          line-height: var(--payment-page-text-standard-line-height);
          color: var(--payment-page-text-standard-color);
          margin: var(--payment-page-spacing-type-block-element) 0 0 0; }
      [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="field_row"] select {
        appearance: none;
        -webkit-appearance: none;
        background: var(--payment-page-layout-primary-background-color) url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E") no-repeat right 15px top 55%; }
    [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="operations_row"] {
      display: flex;
      flex-direction: row; }
      [data-payment-page-component="admin-form"] > form > [data-payment-page-component-admin-form-section="operations_row"] > [data-payment-page-button] {
        padding: 10px 20px;
        font-size: 16px;
        margin: 0 auto;
        -webkit-border-radius: var(--payment-page-layout-border-radius);
        border-radius: var(--payment-page-layout-border-radius); }
